* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Arial", sans-serif;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: start; /* 上寄せに変更 */
    height: auto;
    padding-top: 30px;
    position: relative;
    z-index: -10;


    .smartphone-screen {
        width: 393px;
        height: 852px;
        background-color: white;
        border-radius: 40px;
        position: relative;
        z-index: -2;
        overflow: hidden;

        .camera-area {
            position: relative;
            display: flex;
            justify-self: center;
            align-items: center;
            z-index: 1;

            .camera {
                margin-top: 10px;
                width: 130px;
                height: 30px;
                background-color: #000000;
                border-radius: 30px;
            }
        }

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 25px;
            position: relative;

            #geocoder {
                width: 95%;
                margin-top: 5px;

                .mapboxgl-ctrl-geocoder {
                    width: 100%;
                    height: 40px;
                    border-radius: 36px;
                    display: flex;
                    align-items: center;

                    .mapboxgl-ctrl-geocoder--icon-search{
                        width: 24px;
                        height: 24px;
                    }
                }
            }

            #map {
                position: relative;
                top: -135px;
                width: 100%;
                height: 100%;

            }

            .bottom-nav {
                width: 100%;
                height: 95px;
                background-color: white;
                position: absolute;
                bottom: 40px;

            }
        }
    }
}
