<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ログイン</title>
        <link rel="stylesheet" href="/stylecss/user_login.css" />
    </head>
    <body>
        <div class="container">
            <h1>ログイン</h1>

            <input
                class="form-input"
                type="text"
                placeholder="メールアドレス"
            />
            <input
                class="form-input"
                type="password"
                placeholder="パスワード"
            />
            <!-- <button class="register-btn">ログイン</button> -->
            <a class="register-btn" href="http://localhost:8080/map">ログイン</a>

            <p class="login-link">
                <a href="http://localhost:8080/user-register">新規登録はこちら</a>
            </p>
        </div>
    </body>
</html>
