<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Map UI</title>
        <link
            href="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.css"
            rel="stylesheet"
        />
        <link
            rel="stylesheet"
            href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.css"
        />
        <link rel="stylesheet" href="../stylecss/student/main_map.css" />
        <!-- 外部CSSをリンク -->
        <script src="https://api.mapbox.com/mapbox-gl-js/v3.9.1/mapbox-gl.js"></script>
        <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.1-dev/mapbox-gl-geocoder.min.js"></script>
        <script src="/javascript/map.js" defer></script>
    </head>
    <body>
        <div class="smartphone-screen">
            <div class="camera-area">
                <div class="camera"></div>
            </div>

            <div class="container">
                <!-- 上部バー -->
                <div id="geocoder"></div>
                <div class="profile-button"></div>

                <!-- 中央の地図表示 -->
                <div id="map" class="map-container"></div>

                <div class="store-info-area">
                    <p id="close-button">X</p>
                    <p id="store-info-edit">情報の編集</p>
                    <!-- <a href="/store-info-edit" id="store-info-edit">情報の編集</a> -->
                    <p id="store-name"></p>
                    <p id="store-address"></p>
                    <p id="student-discount"></p>
                    <p id="store-description"></p>
                </div>

                <!-- 下部ナビゲーション -->
                <div class="bottom-nav">
                    <div class="nav-item">
                        <div class="nav-icon"></div>
                        <div class="nav-label">マップ</div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-icon"></div>
                        <div class="nav-label">学生書</div>
                    </div>
                    <div class="nav-item">
                        <div class="nav-icon"></div>
                        <a href="/user-profile" class="nav-label">設定</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
