<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ログイン</title>
        <link rel="stylesheet" href="/stylecss/student/user_login.css" />
    </head>
    <body>
        <div class="smartphone-screen">
            <div class="camera-area">
                <div class="camera"></div>
            </div>

            <div class="container">
                <h1>ログイン</h1>

                <input class="form-input" type="text" placeholder="メールアドレス"/>
                <input class="form-input" type="password" placeholder="パスワード"/>

                <a class="register-btn" href="http://localhost:8080/map">ログイン</a>

                <a class="login-link" href="http://localhost:8080/user-register">新規登録はこちら</a>
                <a class="login-link" href="http://localhost:8080/store-register">店舗様はこちら</a>

            </div>
        </div>
    </body>
</html>
